{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/my-picture.jpg" %}" alt="Moshe- The Autor Of This Blog"/>
            <h2>Yakubov's Blog</h2>
        </header>
        <p>Hi, I'm Moshe and I like to blog about food and traveling around the world! </p>
    </section>

    <section id="latest-posts">
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love programing, I love to help others
            and enjoy exploring new technologies</p>

        <p>My goal is to keep growing as a developer</p>
    </section>
{% endblock %}